<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<h1>THANK YOU FOR YOUR ORDER</h1>
<% @products_ordered.each do |item| %>
<%= "#{item.name} #{item.price}" %>
<% end %>
</body>
</html>
